<div class="bordi container" *ngIf="showPage">
    <div class="row">
        <div class="col-12 centrale">
            <img src="../../assets/images/profilo.png" class="immagine">
        </div>
    </div>
        <div class="row error" *ngIf="errorMessage">
            <div class="col-12 centrale">
                {{errorMessageText}}
            </div>
        </div>
    <form novalidate [formGroup]="reactiveForm" (ngSubmit)="submitForm()">
        <div class="form-row centrale">
            <div class="col-md-8 mb-4">
                <input type="text" formControlName="Username" class="form-control" id="Username" name="Username"
                    placeholder="Username">
            </div>
        </div>
        <div class="form-row centrale height-zero">
            <div class="col-md-8 mb-4">
                <input type="password" class="form-control" formControlName="password" id="password" name="password"
                    placeholder="Password">
            </div>
        </div>

        <div class="row nuovo">
            <div class="col-0 col-sm-2">
            </div>
            <div class="col-6 col-sm-4">
                <div class="pointer">{{registrazione}}</div>
            </div>
            <div class="col-6 col-sm-4 fine">
                <div class="pointer">{{passwordDimenticata}}</div> 
            </div>
            <div class="col-0 col-sm-2">
            </div>
        </div>
        <div class="form-row centrale">
            <button type="submit" class="btn btn-primary">{{invia}}</button>
        </div>
    </form>
</div>