.centrale {
    text-align: center;
    justify-content: center;
}
.error {
    color: red;
}
.immagine {
    max-width: 150px;
    max-height: 150px;
    margin: 50px;
}
.bordi {
    border: 1px solid gray;
    border-radius: 100px;
    width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 9%;
}
.nuovo {
    color: cyan;
}
.height-zero {
    max-height: 45px;
}
.fine{
    text-align: end;
    justify-content: end;
}
.pointer {
    cursor: pointer;
    width: auto;
}