.immagine:hover{
    cursor: pointer;
}
.padding-24 {
    padding-bottom: 20px;
    padding-left: 20px;
    height: 48px;
    background-color: white;
}
.padding-scritta-profilo{
    padding-top: 16px;
    padding-bottom: 14px;
}
.padding-scritta-lingua{
    padding-top: 16px;
    padding-bottom: 14px;
}
.centra-scritta {
    padding-bottom: 2px;
}
.padding-top-20 {
    cursor: pointer;
    margin: 0px;
}
.padding-img {
    padding-top: 12px;
}
.border-sidebar {
    border-bottom: 1px solid rgba(128, 128, 128, 0.205);
}
.padding-profilo {
    padding-top: 24px;
    padding-left: 20px;
    padding-bottom: 24px;
}
.profilo2 {
    font-size: 24px;
    padding-top: 4%;
    padding-left: 17%;
}
.zawarudo2 {
    font-size: 30px;
    padding-top: 4%;
    padding-left: 17%;
}
.testo-zawarudo {
    font-size: 24px;
    padding-top: 5%;
}
.profilo {
    font-size: 24px;
}
.zawarudo {
    font-size: 30px;
}
.freccietta{
    font-size: 15px;
    padding-top: 9%;
}
.padding-top-48{
    padding-top: 48px;
}
.scelta-lingua{
}
.scelta-lingua:hover{
    cursor: pointer;
    background-color: gray;
    filter: invert(100%);
}
.padding-profilo:hover {
    cursor: pointer;
    background-color: gray;
} 
.padding-profilo:hover .profilo{
	filter: invert(100%);
} 
.padding-profilo:hover .zawarudo{
	filter: invert(100%);
}
.padding-top-20:hover .padding-scritta-profilo{
    background-color: gray;
} 
.padding-top-20:hover .profilo2{
    background-color: gray;
	filter: invert(100%);
} 
.padding-top-20:hover .padding-scritta-lingua{
    background-color: grey;
}
.padding-top-20:hover .zawarudo2{
    background-color: gray;
	filter: invert(100%);
}
.padding-top-20:hover .freccietta{
    background-color: gray;
	filter: invert(100%)
}
.animazioneFreccia {
    -webkit-animation-name: menu;
    -webkit-animation-duration: 500ms;
    -webkit-transform: rotate(180deg);
}
.animazioneFreccia2 {
    -webkit-animation-name: chiudi;
    -webkit-animation-duration: 500ms;
    -webkit-transform: rotate(90deg);
}
@-webkit-keyframes menu {
    0% {-webkit-transform: rotate(90deg)}
    100% {-webkit-transform: rotate(180deg)}
}
@-webkit-keyframes chiudi {
    0% {-webkit-transform: rotate(180deg)}
    100% {-webkit-transform: rotate(90deg)}
}
.opaco {
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--app-drawer-scrim-background, rgba(0, 0, 0, 0.5));
    transition: all 500ms;
}
.chiusura {
    display: none;
    -webkit-animation-name: retrive;
    -webkit-animation-duration: 10s;
}
.sideBar {
    width: 240px;
    height: 100%;
    opacity: 1;
    background: white;
    -webkit-animation-name: run;
    -webkit-animation-duration: 500ms;
}
.animation {
    top: 0;
    right: 0;
    bottom: 0;
    left: 240px;
    padding:0px;
    width: 0%;
    height: 100%;
    opacity: 1;
    background: white;
    -webkit-animation-name: retrive;
    -webkit-animation-duration: 500ms;
}
.barraVerticale {
    height: 1500px;
    width: 72px;
    background-color: white;
    display: inline-block;
}
.margin-top-12 {
    margin-top: 48px;
}
.flex {
    display: flex;
}
.sfondo {
    display: inline-block;
    height: 1500px;
    width: 100%;
    background-color: #F9F9F9;
}
@-webkit-keyframes run {
    0% { width: 0px;}
    100% { width : 240px;}
}
.testi{
    width: 70%;
    height: 75px;
    margin-top: 340px;
    margin-left: 15.9%;
    font-size: 24px;
    text-align: left;
}
.freccia-testi{
    opacity: 0.7;
}
.freccia-testi:hover{
    cursor: pointer;
}
.none {
    display: none;
}
.container {
    width: 100%;
    height: 100%;
    max-width: 1920px;
  }
.centrale {
    justify-content: center;
    text-align: center;
}
.centrale2 {
    justify-content: center;
    text-align: center;
    font-size: 20px;
    padding-top: 6%;
}
.sliders {
    position: relative;
    height: 66vw;
  }
  .slider {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 50%;
  }
  .img {
    width: 70%;
    height: 100%;
    max-height: 650px;
  }
  .arrow-right{
      z-index: 10;
      font-size: 30px;
      color: black;
      opacity: 0.6;
  }
  .arrow-left{
      z-index: 10;
      font-size: 30px;
      color: black;
      opacity: 0.6;
  }
  .margin-icona {
    margin-top: 12%;
  }
  .margin-icona-destra {
      margin-left: 2020%;
  }
  .stop {
    opacity: 0.6;
    z-index: 1;
    font-size: 60px;
  }
  .end {
      justify-content: end;
      text-align: end;
  }
  .left {
      justify-content: left;
      text-align: left;
  }
  .full {
    width: 100%;
  }
  .no-padding {
      padding: 0px;
  }