<!-- SIDEBAR -->
<div [ngClass]="{'opaco': showSideBar,'normale': !showSideBar}">
    <div [ngClass]="{'chiusura': !showSideBar}" class="sideBar">
        <div>
            <div class="padding-24 padding-img border-sidebar" (click)="mostraSideBar()">
                <img class="immagine" src="https://img.icons8.com/fluent/24/000000/menu--v1.png">
            </div>
            <div class="row full padding-top-20 border-sidebar">
                <div class="col-3 end padding-scritta-profilo">
                    <i class="fa fa-users profilo2"></i>
                </div>
                <div class="col-9 profilo2" [routerLink]="['/Login', linguaSelezionata]">
                    {{profilo}}
                </div>
            </div>
            <div class="row full padding-top-20 border-sidebar" (click)="apriMenu()">
                <div class="col-3 end padding-scritta-lingua">
                    <i class="fa fa-globe zawarudo2"></i>
                </div>
                <div class="col-7 zawarudo2 testo-zawarudo">
                    {{lingue}}
                </div>
                <div class="col-2 freccietta">
                    <i class="fa fa-chevron-up fa-rotate-90"
                        [ngClass]="{'animazioneFreccia': openMenu,'animazioneFreccia2': !openMenu}"></i>
                </div>
            </div>
            <div class="menu full" *ngIf="openMenu" @fade>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-10 border-sidebar scelta-lingua" (click)="aggiornaTraduzioni('ita')">
                        <p class="centrale2">Italiano</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-10 border-sidebar scelta-lingua" (click)="aggiornaTraduzioni('eng')">
                        <p class="centrale2">English</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-10 border-sidebar scelta-lingua" (click)="aggiornaTraduzioni('ger')">
                        <p class="centrale2">Deutsch</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-10 border-sidebar scelta-lingua" (click)="aggiornaTraduzioni('slo')">
                        <p class="centrale2">Slovenski</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="{'animation': !showSideBar}">

    </div>
    <div class="padding-24">
        <div class="padding-img">
            <img class="immagine" (click)="mostraSideBar()" src="https://img.icons8.com/fluent/24/000000/menu--v1.png">
        </div>
    </div>
</div>
<!-- FINE SIDEBAR -->
<div class="flex">
    <!-- BARRA VARTICALE -->
    <div class="barraVerticale" [ngClass]="{'padding-top-48': showSideBar}">
        <div class="padding-profilo">
            <i class="fa fa-users profilo"></i>
        </div>
        <div class="padding-profilo" (click)="clickTranslation()">
            <i class="fa fa-globe zawarudo"></i>
        </div>
    </div>
    <!-- FINE BARRA VERTICALE -->

    <!-- SFONDO -->
    <div class="sfondo" [ngClass]="{'margin-top-12': showSideBar}">
        <div class="container">
            <div class="sliders flex centrale">
                <ng-container *ngFor="let img of immagine; let i = index">
                    <div class="slider friuli" *ngIf="contatoreStepper == i" @fade>
                        <img class="img" [src]="img">
                    </div>
                </ng-container>
                <div class="full">
                    <div class="row full">
                        <div class="col-2">
                        </div>
                        <div class="col-8 stop end no-padding" (click)="stopInterval()" *ngIf="!showPlayButton">
                            <i class="fa fa-stop-circle"></i>
                        </div>
                        <div class="col-8 stop end no-padding" (click)="addInterval()" *ngIf="showPlayButton">
                            <i class="fa fa-play-circle"></i>
                        </div>
                        <div class="col-2 no-padding">
                        </div>
                    </div>
                    <div class="margin-icona row full">
                        <div class="col-2 no-padding">
                        </div>
                        <div class="col-4 left no-padding">
                            <i class="fa fa-chevron-up arrow-left fa-rotate-270" (click)="imgPrecedente()"></i>
                        </div>
                        <div class="col-4 end no-padding">
                            <i class="fa fa-chevron-up arrow-right fa-rotate-90" (click)="prossimaImg()"></i>
                        </div>
                        <div class="testi">
                            {{testoPillar}}
                            <i class="fa fa-chevron-up fa-rotate-90 freccia-testi" (click)="none"></i>
                        </div>
                        <div class="col-2 no-padding">
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- FINE SFONDO -->
</div>

<!-- <footer></footer> -->